[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
psycopg = {extras = ["binary"], version = "*"}
argon2-cffi = "*"

[dev-packages]

[requires]
python_version = "3.12"
